* {
  padding: 0;
  margin: 0;
  border-left: 15px;
  margin-left: 2px;
}

.contenedor {
  position: absolute;
  width: 327px;
  height: 150px;
  padding-left: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 56px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: auto;
  order: 0;
  flex-grow: 0;
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  top: 180px;
}

.main {
  position: absolute;
  width: 327px;
  height: 146px;
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  padding-left: 15px;
  top: 370px;
}

.contac {
  width: 117px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-size: 24px;
}

.logo {
  position: absolute;
  width: 76px;
  height: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  top: 29px;
  text-decoration: none;
  padding-left: 15px;
}

.batery {
  position: absolute;
  width: 19px;
  height: 7px;
  left: 40px;
  top: 16px;
}

.hour {
  display: flex;
  position: absolute;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #000;
  top: 4%;
  right: 15px;
}

.twitter {
  position: absolute;
  left: 34px;
  top: 600px;
}

.letteri {
  position: absolute;
  left: 70px;
  top: 600px;
}

.lettern {
  position: absolute;
  left: 77px;
  top: 600px;
}

.letterm {
  position: absolute;
  left: 100px;
  top: 600px;
}

.git {
  position: absolute;
  left: 130px;
  top: 599px;
}

.hand {
  position: absolute;
  left: 160px;
  top: 597px;
}

.let {
  padding-left: 15px;
  position: absolute;
  top: 550px;
}

.content {
  padding-right: 25px;
}

.fondoo {
  position: absolute;
  width: 450px;
  height: 718px;
  left: 0;
  top: 55px;
}

.menu {
  padding-left: 360px;
  margin-top: 20px;
}
